[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A java loaded application for various testing purpose
[access "refs/*"]
	owner = group user/tptgithub
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tptgithub
	label-Verified = -1..+1 group user/tptgithub
	push = group user/tptgithub
	read = group user/tptgithub
	rebase = group user/tptgithub
	removeReviewer = group user/tptgithub
	submit = group user/tptgithub
[access "refs/heads/*"]
	create = group user/tptgithub
	push = +force group user/tptgithub
	pushMerge = group user/tptgithub
	read = group user/tptgithub
[access "refs/tags/*"]
	push = group user/tptgithub
	push = +force group user/tptgithub
